In [4]:
import numpy as np
import pandas as pd
import datetime

In [5]:
def dataProcess(path):
    
    def dirList2FloatList(dirList):
        direction = {'N': 0, 'E': 0.25, 'S': 0.5, 'W':0.75}
        floatList = []
        for s in dirList:
            if type(s) != str:
                floatList.append(s)
                continue
            num = direction[s[0]]
            for i in range(1, len(s)):
                if(s[i-1] == 'W' and s[i] == 'N'):
                    num = (num + 1) / 2
                else:
                    num = (num + direction[s[i]]) / 2
            floatList.append(num)
        return floatList

    def YesNo210(s):
        if s == 'No':
            return 0
        return 1
    def GetMonth(s):
        date = datetime.datetime.strptime(s, "%Y-%m-%d")
        return date.month

    data = pd.read_csv(path)
    data.dropna(inplace = True)
#     print(data.shape)
#     data = data[np.abs()
#     print(data.shape)
#     data.drop(columns=['Attribute1', 'Attribute2', 'Attribute8', 'Attribute9', 
#                        'Attribute10', 'Attribute11', 'Attribute12', 'Attribute14'
#                       ,'Attribute16', 'Attribute18', 'Attribute20'], inplace = True)
    data['Attribute1'] = data['Attribute1'].apply(GetMonth)
    data['Attribute8'] = dirList2FloatList(data['Attribute8'])
    data['Attribute10'] = dirList2FloatList(data['Attribute10'])
    data['Attribute11'] = dirList2FloatList(data['Attribute11'])
    data['Attribute22'] = data['Attribute22'].apply(YesNo210)
    if 'Attribute23' in data.columns:
        data['Attribute23'] = data['Attribute23'].apply(YesNo210)
    
#     data.describe()
    
#     data.fillna(data.mean(), inplace = True)
    data = (data - data.min()) / (data.max() - data.min())
    
    return data

In [6]:
trainData = dataProcess('train.csv')
print(trainData.shape)

for s in trainData.columns:
    trainData = trainData[np.abs(trainData[s] - trainData[s].mean()) <= (trainData[s].std()*3)]
print(trainData.shape)
print(len(trainData[trainData['Attribute23'] == 1]))

trainData.to_csv('train2.csv', index=None)

(6884, 23)
(6448, 23)
1045

In [7]:
len(trainData.iloc[0])

23

In [8]:
trainData.describe()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,Attribute21,Attribute22,Attribute23
count,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,...,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000,6448.000000
mean,0.499958,0.493800,0.519325,0.428369,0.010836,0.077085,0.558726,0.501109,0.279386,0.480292,...,0.654645,0.483992,0.621105,0.612304,0.505893,0.511845,0.450096,0.453099,0.194944,0.162066
std,0.311945,0.286352,0.187339,0.175288,0.028512,0.047070,0.249533,0.288881,0.122484,0.285197,...,0.179437,0.193858,0.116733,0.117894,0.348790,0.329618,0.172327,0.164103,0.396188,0.368540
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.110000,0.010000,0.265125,0.267504,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.181818,0.222222,0.375367,0.287565,0.000000,0.040000,0.386207,0.307692,0.191489,0.230769,...,0.550000,0.350000,0.540925,0.529174,0.125000,0.125000,0.312997,0.325062,0.000000,0.000000
50%,0.545455,0.533333,0.510264,0.427461,0.000000,0.068571,0.627586,0.461538,0.255319,0.461538,...,0.660000,0.490000,0.619217,0.610413,0.500000,0.500000,0.437666,0.449132,0.000000,0.000000
75%,0.818182,0.755556,0.662757,0.567358,0.003497,0.105714,0.751724,0.769231,0.351064,0.769231,...,0.780000,0.620000,0.699288,0.691203,0.875000,0.875000,0.583554,0.580645,0.000000,0.000000
max,1.000000,1.000000,1.000000,0.937824,0.192308,0.242857,1.000000,1.000000,0.691489,1.000000,...,1.000000,1.000000,0.969751,0.965889,1.000000,1.000000,0.917772,0.942928,1.000000,1.000000

In [9]:
testData = dataProcess('test.csv')
testData.to_csv('test2.csv', index=None)

In [10]:
t = pd.read_csv('test2.csv')

In [22]:
t

,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute13,Attribute15,Attribute17,Attribute19,Attribute21,Attribute22
0,23.8,39.9,0.0,12.6,13.2,7.0,16.0,1012.1,1.0,38.7,0
1,7.8,12.2,0.2,2.2,0.1,17.0,95.0,1006.6,7.0,11.6,0
2,19.4,36.7,0.0,6.4,12.0,19.0,22.0,1013.0,6.0,34.8,0
3,14.8,28.7,0.0,5.2,9.7,15.0,24.0,1014.8,4.0,27.1,0
4,11.7,16.1,1.8,0.6,0.5,7.0,75.0,1018.3,7.0,16.0,1
...,...,...,...,...,...,...,...,...,...,...,...
819,24.1,33.5,8.0,3.8,9.4,19.0,77.0,1007.2,6.0,29.8,1
820,23.8,32.8,0.6,3.0,9.3,20.0,52.0,1009.1,3.0,32.1,0
821,24.4,33.6,0.0,7.2,10.5,19.0,58.0,1008.9,2.0,31.6,0
822,27.1,32.8,0.2,6.8,6.0,22.0,74.0,1007.8,7.0,29.4,0
823,25.0,33.1,0.0,4.4,9.8,20.0,51.0,1008.0,3.0,32.6,0

In [5]:
a0 = t['Attribute22']
a1 = t['Attribute23']
n = 0
for i in range(len(a0)):
    if a0[i] == a1[i]:
        n = n+1
print (n / len(a0))

0.7661578054629468

In [21]:
t2 = pd.read_csv('train.csv')
t2 = t2['Attribute22']
n = 0
for i in t2:
    if i == 'No':
        n = n + 1
print (n / len(t2))

0.7771538866467801

In [60]:
Data

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,Attribute21,Attribute22,Attribute23
0,2009-02-07,11,19.1,29.9,0.0,7.2,12.5,ENE,31.0,NNW,...,62.0,55.0,1015.3,1013.9,1.0,1.0,26.6,28.7,No,No
1,2013-12-12,37,19.9,24.8,0.0,10.4,9.7,NE,46.0,E,...,69.0,59.0,1011.9,1009.8,6.0,2.0,20.6,24.0,No,No
2,2009-04-29,35,1.1,12.9,0.6,2.0,1.7,E,19.0,WNW,...,83.0,51.0,1024.7,1022.6,7.0,7.0,5.6,12.5,No,No
3,2013-10-10,18,16.4,16.6,0.0,10.2,0.9,N,56.0,SW,...,81.0,89.0,1003.4,1007.0,7.0,7.0,16.6,14.2,No,Yes
4,2008-11-13,18,20.7,34.2,0.0,14.2,2.1,W,78.0,N,...,23.0,16.0,1008.8,1006.3,7.0,7.0,28.2,32.1,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,2009-09-24,13,25.5,35.2,0.0,7.8,8.3,NNE,48.0,E,...,70.0,45.0,1013.1,1008.2,5.0,3.0,28.0,32.9,No,No
2446,2013-06-01,28,13.1,15.3,34.4,0.8,1.2,SSE,54.0,NW,...,89.0,92.0,1012.3,1010.3,7.0,8.0,13.9,13.4,Yes,Yes
2447,2016-10-21,15,10.1,15.2,1.0,3.4,0.4,NNW,76.0,NW,...,66.0,45.0,1000.7,1005.8,8.0,7.0,15.2,15.0,No,Yes
2448,2010-12-31,20,22.1,42.1,0.0,11.0,12.8,NNW,50.0,N,...,25.0,11.0,1011.4,1008.5,0.0,1.0,30.5,41.2,No,Yes
2449,2012-04-18,32,12.1,24.7,0.0,4.0,6.8,WSW,50.0,NE,...,62.0,79.0,1013.3,1012.5,2.0,7.0,18.6,20.0,No,Yes